youtube_upload_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-video",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "webhookId": "upload-video"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/videos/*.mp4"
      },
      "id": "read-vids",
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        400,
        240
      ]
    },
    {
      "parameters": {
        "title": "={{ $node[\"Webhook\"].json[\"body\"][\"title\"] }}",
        "description": "={{ $node[\"Webhook\"].json[\"body\"][\"description\"] }}",
        "categoryId": "22",
        "privacyStatus": "unlisted"
      },
      "id": "youtube-upload",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.googleYouTube",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "credentials": {
        "googleYouTubeOAuth2Api": {
          "id": "YouTube Account",
          "name": "YouTube Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ENTER_YOUR_EMAIL_HERE",
        "subject": "YouTube Upload Successful",
        "message": "Video has been uploaded.\n\nTitle: {{ $json.snippet.title }}\nURL: https://www.youtube.com/watch?v={{ $json.id }}",
        "appendAttributions": false
      },
      "id": "gmail-notification",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.googleGmail",
      "typeVersion": 2,
      "position": [
        800,
        240
      ],
      "credentials": {
        "googleGmailOAuth2Api": {
          "id": "Gmail Account",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}