youtube_upload_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-video",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "webhookId": "upload-video"
    },
    {
      "parameters": {
        "title": "={{ $json.body.title }}",
        "description": "={{ $json.body.description }}",
        "categoryId": "22",
        "privacyStatus": "unlisted"
      },
      "id": "youtube-upload",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.googleYouTube",
      "typeVersion": 1,
      "position": [
        420,
        240
      ],
      "credentials": {
        "googleYouTubeOAuth2Api": {
          "id": "PLEASE_CREATE_YOUR_CREDENTIALS",
          "name": "YouTube Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "USER_EMAIL_HERE",
        "subject": "YouTube Upload Successful",
        "message": "Video has been uploaded.\n\nTitle: {{ $json.snippet.title }}\nURL: https://www.youtube.com/watch?v={{ $json.id }}",
        "appendAttributions": false
      },
      "id": "gmail-notification",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.googleGmail",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "credentials": {
        "googleGmailOAuth2Api": {
          "id": "PLEASE_CREATE_YOUR_CREDENTIALS",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload": {
      "main": [
        [
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}